[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
django-cors-headers = "*"
django-axes = "*"
django-tenants = "*"
psycopg2-binary = "*"
gunicorn = "*"
dj-database-url = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
faker = "*"

[requires]
python_version = "3.14"
